.home {
    background-image: url(1.png);
    background-size: cover;
    margin: 0;
    padding: 0;}
    
.header {
    background-color: rgb(51, 51, 51);
    box-shadow: 0 1px 4px black;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 130px;
    width: auto;
    margin: 7px 0 0 25px;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 70px;
    margin-right: 70px;
    font-size: 22px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.header-nav a:hover {
    background-color: rgba(85, 77, 77, 0.733);
    transition: 0.3s ease;
}

.dropdown {
    position: absolute;
    list-style: none;
    margin-top: 6px;
    padding: 0;
    color: black;
    background-color: rgba(107, 100, 100, 0.733);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    cursor: pointer;
    display: none;
}

.dropdown li {
    padding: 20px 40px 15px 20px;
    font-weight: 600;
    border-radius: 15px;
} 

.dropdown li:hover {
    background-color: aqua;
    transition: 0.3s ease;
    display: block;
}

.li-1:hover .dropdown {display: block;}

.text h1{
    position: absolute;
    color:rgb(252, 252, 252);
    margin: 240px 0 0 30px;
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 43px;}

/* -------------------------------------------------------------------------------*/

.Contact {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,rgba(51, 51, 51, 1), rgba(127, 138, 124, 1));
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.form-text h2 {
    font-weight: 600;
    font-size: 40px;
    color: rgb(230, 200, 146);
    margin-bottom: 5px;
}

.form-text hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(230, 200, 146);
    border-radius: 10px;
    margin-bottom: 20px;
}

.input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}

.form textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.input:focus {
    border: 2px solid rgb(243, 179, 61);
}

.form button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: orange;
}